.link
	cursor: pointer
	&-underline
		color: #6d6e71
		line-height: 26px
		text-decoration: underline
		font-size: 20px
		+respond-below(xs)
			font-size: 13px
			line-height: 10.88px

.btn
	font-size: 25px
	line-height: 26.1px
	color: #ffffff
	width: 280px
	padding: 24px 0
	text-align: center
	border-radius: 38px
	border: none
	cursor: pointer
	+respond-below(xs)
		width: 145px
		font-size: 13px
		line-height: 13.44px;
		padding: 12px 0
	&--accent
		background-color: $accent
	&--green
		background-color: #93c622

.checkbox
	&__label
		position: relative
		padding: 8px 0 8px 52px
		text-transform: uppercase
		font-size: 16px
		color: #fff
		display: block
		cursor: pointer
		+respond-below(xs)
			font-size: 11px
			padding: 4px 0 8px 38px;
		.link-more
			text-decoration: underline
			color: #fff
		&:before
			content: ""
			position: absolute
			top: 0
			left: 0
			width: 34px
			height: 32px
			background-color: #fff
			+respond-below(xs)
				width: 24px
				height: 22px
	&__input
		display: none
		&:checked ~ .checkbox__label:after
			content: ""
			display: block
			position: absolute
			top: -10px
			left: 0
			width: 42px
			height: 42px
			background-image: url(../img/icon-check.png)
			background-repeat: no-repeat 
			background-size: 100%
			+respond-below(xs)
				width: 32px
				height: 32px
				top: -5px
	&.error
		.checkbox__label
			color: red

.agreements-block
	text-align: center
	&__inner
		display: inline-block
		text-align: left
		+respond-above(md)
			margin-right: -16%
	.checkbox:not(:last-child)
		margin-bottom: 20px